In [44]:
import pandas as pd
import seaborn as sns
data = pd.read_csv('titanic.csv')
Total = 0
AliveS = 0
DiedS = 0
AliveC = 0
DiedC = 0
AliveQ = 0
DiedQ = 0

for idx in range(len(data)):
    if data.loc[idx]["Survived"] == 1 and data.loc[idx]["Embarked"] == "S":
        AliveS += 1
    if data.loc[idx]["Survived"] == 0 and data.loc[idx]["Embarked"] == "S":
        DiedS += 1
    if data.loc[idx]["Survived"] == 1 and data.loc[idx]["Embarked"] == "C":
        AliveC += 1
    if data.loc[idx]["Survived"] == 0 and data.loc[idx]["Embarked"] == "C":
        DiedC += 1
    if data.loc[idx]["Survived"] == 1 and data.loc[idx]["Embarked"] == "Q":
        AliveQ += 1
    if data.loc[idx]["Survived"] == 0 and data.loc[idx]["Embarked"] == "Q":
        DiedQ += 1

In [39]:
survived = {"S": 0, "C": 0, "Q": 0, "U": 0}
died = {"S": 0, "C": 0, "Q": 0, "U": 0}

for idx in range(len(data)):
    city = data.loc[idx]["Embarked"]
    if data.loc[idx]["Survived"] == 1:
        if city in ["S", "C", "Q"]:
            survived[city] += 1
        else:
            survived["U"] += 1
    else:
        if city in ["S", "C", "Q"]:
            died[city] += 1
        else:
            died["U"] += 1
conTable = {
    "S":[survived["S"]/(survived["S"] + died["S"]), died["S"]/(survived["S"] + died["S"]), survived["S"] + died["S"]],
    "Q":[survived["Q"]/(survived["Q"] + died["Q"]), died["Q"]/(survived["Q"] + died["Q"]), survived["Q"] + died["Q"]],
    "C":[survived["C"]/(survived["C"] + died["C"]), died["C"]/(survived["C"] + died["C"]), survived["C"] + died["C"]],
    "U":[survived["U"]/(survived["U"] + died["U"]), died["U"]/(survived["U"] + died["U"]), survived["U"] + died["U"]],
    "Total": [survived["S"] + survived["Q"] + survived["C"] + survived["U"],
              died["S"] + died["Q"] + died["C"] + died["U"], len(data)]
}

conTable = pd.DataFrame(conTable)
conTable.index = ["Survived", "Died", "Total"]
conTable.head()

                   S       Q           C    U  Total
Survived    0.336957   0.375    0.553571  1.0    342
Died        0.663043   0.625    0.446429  0.0    552
Total     644.000000  80.000  168.000000  2.0    894

In [45]:
import seaborn as sns
df = sns.load_dataset("penguins")
sns.pairplot(df, hue="species")

In [46]:
sns.catplot(data=tips, kind="bar", x="day", y="total_bill", hue="smoker")

NameError: name 'tips' is not defined

In [51]:
tips = sns.load_dataset("titanic")
sns.relplot(
    data=tips,
    x="total_bill", y="tip", col="time",
    hue="smoker", style="smoker", size="size",
)

In [69]:
passengerClasses = {"First": 0, "Second": 0, "Third": 0}
for passenger in data ["Pclass"]:
    if passenger == 1:
        passengerClasses["First"] += 1
    elif passenger == 2:
        passengerClasses["Second"] += 1
    elif passenger == 3:
        passengerClasses["Third"] += 1
        
percentClasses = {"First": (passengerClasses["First"]/len(data))*100,
                    "Second":(passengerClasses["Second"]/len(data))*100,
                    "Third":(passengerClasses["Third"]/len(data))*100
                 }
freqTable = {
    "Classes": ["First", "Second", "Third"],
    "Percent": [percentClasses["First"], percentClasses["Second"], percentClasses["Third"]]
    }

freqTable = pd.DataFrame(freqTable)
freqTable.head

<bound method NDFrame.head of   Classes    Percent
0   First  24.161074
1  Second  20.581655
2   Third  55.257271>

In [72]:
sns.barplot(data=freqTable, x="Classes", y="Percent")