# Choose a Data Set
Use data gathered from one of the following APIs: 
- [TV Series Endpoints from TMDB (you cannot use any of the Movie endpoints!)](https://developer.themoviedb.org/reference/tv-series-airing-today-list)
- [Open Weather](https://openweathermap.org/api)
- [NASA API](https://api.nasa.gov/)
- [API Football](https://www.api-football.com/documentation-v3)
- [RAWG Video Games](https://rawg.io/apidocs)

**OR** 

Pick two or more datasets from one of the following folders: 
- [Olympic Games 2024](https://drive.google.com/drive/folders/1AqsNDn1HjdGBpj6CuxoGrog-Dg6Y_ecO?usp=sharing)
- [Diabetes Indicators](https://drive.google.com/drive/folders/1lXwQOk3oMVZRIDB_DuD8IhMh7rjERsFH?usp=drive_link)
- [Amazon Sales](https://drive.google.com/drive/folders/1VYUZ0vspKZQHgmbhe1qt-mjeeqVJJ58r?usp=drive_link)
- [NBA](https://drive.google.com/drive/folders/1tBGqAJTpXRtmETAjSNyba_kRWGR4JKHt?usp=drive_link)
- [Recipes](https://drive.google.com/drive/folders/18ybwQLoDTHF8EFfNtx9SxKco9Y4m9Z2I?usp=drive_link)

# My Question
### Does a higher runtime for a show result in a higher popularity score? Or does season length have a stronger corelation with popularity? Is popularity the determined or the determining factor? .

# My Answer

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import requests

airingtoday=[]

for i in range(1,16):
    url = f"https://api.themoviedb.org/3/tv/airing_today?language=en-US&page={i}"

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMzRjMjM0ZTIzNTFmNWVjZDA2ZTEzODgxZmY3YThiMCIsIm5iZiI6MTcyOTY5NzA3OS44MTIzNzgsInN1YiI6IjY3MTkxNDU3OWZmNjgxZDllMGEzOWM3YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.8IC5bCG4pc9dMuCjyod-WyLWyEjNaWmAF-djKbwP-rc"
    }

    response = requests.get(url, headers=headers)
    airingtodayres = response.json()
    airingtoday.extend(airingtodayres["results"])
all_airingToday=pd.json_normalize(airingtoday)
all_airingToday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              300 non-null    bool
 1   backdrop_path      284 non-null    object
 2   genre_ids          300 non-null    object
 3   id                 300 non-null    int64
 4   origin_country     300 non-null    object
 5   original_language  300 non-null    object
 6   original_name      300 non-null    object
 7   overview           300 non-null    object
 8   popularity         300 non-null    float64
 9   poster_path        291 non-null    object
 10  first_air_date     300 non-null    object
 11  name               300 non-null    object
 12  vote_average       300 non-null    float64
 13  vote_count         300 non-null    int64
dtypes: bool(1), float64(2), int64(2), object(9)
memory usage: 30.9+ KB

In [14]:
all_airingToday.head()

,adult,backdrop_path,genre_ids,id,origin_country,original_language,original_name,overview,popularity,poster_path,first_air_date,name,vote_average,vote_count
0,False,/aizbHLcKVWvJ7jxkflJzTu5Z8GE.jpg,[10766],81329,[FR],fr,Un si grand soleil,Claire is surprised when she gets arrested for...,3508.391,/t6jVlbPMtZOJoAOfeoR4yQmnjXM.jpg,2018-08-27,Chronicles of the Sun,7.000,103
1,False,/l7LRGYJY3NzIGBlpvHpMsNXHbm5.jpg,"[10751, 35]",218145,[SK],sk,Mama na prenájom,"Abandoned by his wife, Martin is lying to his ...",3211.108,/fH7PP2Rkdlo414IHvZABBHhtoqd.jpg,2023-01-09,Mom for rent,5.100,27
2,False,/vgeDRVpSUa4Hvovg4C6dgm4dfUW.jpg,"[10766, 18]",112470,[FR],fr,Ici tout commence,This television drama series is centered aroun...,3187.093,/yuTHx38jpogXovMhqNatvozigMJ.jpg,2020-11-02,Ici tout commence,7.000,53
3,False,/mlX6SG7lJ0BiLui5x5Nu4agetBA.jpg,"[10766, 18]",82708,[NL],nl,Brugklas,The First Years is a Dutch series for young pe...,3148.747,/klPqN1oITjVub0Yss0Kqnx8NfY3.jpg,2014-05-26,The First Years,4.600,10
4,False,/oPUJvCl9vo16nttEDwmK3zy06jj.jpg,"[10766, 10759, 18]",247884,[MX],es,"Fugitivas, en busca de la libertad","Lorena, Frida, Lisset and Montse, four friends...",2845.273,/oqHWSZmoCgz7JPsbNXihASGnfLW.jpg,2024-07-01,"Fugitivas, en busca de la libertad",7.481,27

In [17]:
'''
def getDetails(df):
    #uses the TV ID to get data from the "details" endpoint. Returns a dataframe of revenue and budget data.
    
    data = {
        "id": [], 
        "runtime": [],
        "season_number": []
        
    }
    
    for i in df["id"]:
        data["id"].append(i)
        url = "https://api.themoviedb.org/3/tv/"+str(i)+"?language=en-US"

        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMzRjMjM0ZTIzNTFmNWVjZDA2ZTEzODgxZmY3YThiMCIsIm5iZiI6MTcyOTY5NzA3OS44MTIzNzgsInN1YiI6IjY3MTkxNDU3OWZmNjgxZDllMGEzOWM3YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.8IC5bCG4pc9dMuCjyod-WyLWyEjNaWmAF-djKbwP-rc"
        }

        response = requests.get(url, headers=headers)


        response = requests.get(url, headers=headers)
        response = response.json()
        print(response)
        data["runtime"].append(response["last_episode_to_air"]["runtime"])
        data["season_number"].append(response["last_episode_to_air"]["season_number"])

        
    return pd.DataFrame(data)

totalData = getDetails(airingToday)
totalData.info()
'''
    
detailed=[]
for index, row in all_airingToday.iterrows():
    ID = row['id']
    url = f'https://api.themoviedb.org/3/tv/{ID}?language=en-US'
    headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlMzRjMjM0ZTIzNTFmNWVjZDA2ZTEzODgxZmY3YThiMCIsIm5iZiI6MTcyOTY5NzA3OS44MTIzNzgsInN1YiI6IjY3MTkxNDU3OWZmNjgxZDllMGEzOWM3YiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.8IC5bCG4pc9dMuCjyod-WyLWyEjNaWmAF-djKbwP-rc"
        }
    response = requests.get(url, headers)
    details = response.json()
    detailed.append(details)
Totaldetails = pd.json_normalize(detailed)
Totaldetails.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_code     300 non-null    int64
 1   status_message  300 non-null    object
 2   success         300 non-null    bool
dtypes: bool(1), int64(1), object(1)
memory usage: 5.1+ KB

In [18]:
Totaldetails.head()

   status_code                                     status_message  success
0            7  Invalid API key: You must be granted a valid key.    False
1            7  Invalid API key: You must be granted a valid key.    False
2            7  Invalid API key: You must be granted a valid key.    False
3            7  Invalid API key: You must be granted a valid key.    False
4            7  Invalid API key: You must be granted a valid key.    False

In [12]:
Totaldetails.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_code     300 non-null    int64
 1   status_message  300 non-null    object
 2   success         300 non-null    bool
dtypes: bool(1), int64(1), object(1)
memory usage: 5.1+ KB

In [4]:
final = pd.merge(totalData, airingToday, on='id', how='outer')
final.info()

NameError: name 'totalData' is not defined

In [ ]:
sns.regplot(data=final, x='runtime', y='popularity')

In [ ]:
print(final['id'])

***Describe analysis here.***

In [ ]:
# Alternate between code for analysis and markdown descriptions of your analysis
# Add more code or markdown cells if needed to fully explain analysis

***Describe analysis here.***